catvsdog/test1/
catvsdog/train/
catvsdog/small_dataset/
catvsdog/saved_model/
Alexnet/flower_photos/flower_photos/
Alexnet/flower_data/
Alexnet/Alexnet_model.pth
Alexnet/save_weights/myAlex100%.weights.h5
GoogleLeNet/googleNet.pth
Resnet/resnet34-pre.pth
Resnet/resNet34.pth
faster-rcnn/VOCdevkit/
