catvsdog/test1/
catvsdog/train/
catvsdog/small_dataset/
catvsdog/saved_model/
Alexnet/flower_photos/flower_photos/
Alexnet/flower_data/
Alexnet/Alexnet_model.pth
Alexnet/save_weights/myAlex100%.weights.h5
GoogleLeNet/googleNet.pth
Resnet/resnet34-pre.pth
Resnet/resNet34.pth
faster-rcnn/VOCdevkit/
Bubbliiiing-yolov3/VOCdevkit/
Bubbliiiing-yolov3/map_out/
*.pyc
*.pth
*.png
Bubbliiiing-yolov3/2007_train.txt
.gitignore
Bubbliiiing-yolov3/2007_val.txt
Bubbliiiing-yolov3/logs/
yolov4-pytorch/2007_val.txt
yolov4-pytorch/2007_train.txt
YOLOv8-main/dataset/
*.jpg
*.ckpt
*.jpeg
Hands-on-learning-computer-vision/caltech-101/
Hands-on-learning-computer-vision/VOCdevkit/
Hands-on-learning-computer-vision/ImageNet/
